body{
    background-color: aqua;
}

.mapa{
    width: 100%;
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
}

.fundo{
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    flex-direction: column;
    
}

.header-bar p {
    margin-inline: auto;
}
.header-bar{
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: blanchedalmond;
    
    display: flex;
}



img.tampinha{
    width: 5rem;
    rotate: 315deg;
    margin-right: 2rem;
}