body{
    background-color: #fef3ed;
}

.mapa{
    width: 100%;
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
}

.fundo{
    display: flex;

    justify-content: center; /* Alinha horizontalmente */
    flex-direction: column;
    
    padding-inline: 1rem;

    border: 2px solid black ;
}

.sobre{
    
    align-items: center;
}

.sobre img{
    height: 30rem;
    width: 20rem;
    object-fit: cover; 
    object-position: center;
}

.header-bar p {
    margin-inline: auto;
}

.header-bar{
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ec9fc1;
    

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bar img{
    height: 5rem;
    border-radius: 5px;
}

.header-bar div{
    display: flex;
    align-items: center;
}

p{
    font-size: 2rem;
}

h2{
    font-size: 4rem;
}

img.tampinha{
    width: 3rem;
    height: 3rem;
    rotate: 315deg;
    margin-right: 2rem;
}

@media (min-width: 780px) {
    .fundo, .sobre{
        margin-inline: 20%;
    }
    .sobre{
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 430px){
    .sobre img{
    height: 40rem;
    width: 30rem;
    object-fit: cover; 
    object-position: center;
    }

    .header-bar img{
        height: 8rem;
    }

    img.tampinha{
        width: 5rem;
        height: 5rem;
    }
}